* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.header {
  background-image: url(img/home-bg-slider-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white background */
  z-index: 10;
  transition: opacity 0.5s;
  opacity: 0;
  /* background: black; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-size: 36px;
  font-weight: bold;
  /* line-height: 50px; */
  margin-left: 20px;
}
.navbar-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.navbar-links a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.42857143;
  color: #505050;
  padding: 10px;
}
.navbar-links a:hover {
  color: #000;
}
.navbar.visible {
  opacity: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-content h3 {
  visibility: visible;
  animation-delay: 0.9s;
  animation-name: bounceIn;
  letter-spacing: 2px;
  line-height: 36px;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header-content h1 {
  visibility: visible;
  animation-delay: 1.6s;
  animation-name: fadeInUp;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  /* padding-top: 12px; */
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-weight: 500;
  max-width: 500px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header-content button {
  background: #26253a;
  border: none;
  border-radius: 0px;
  color: #999;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 19px 38px;
  margin-top: 28px;
  transition: all 0.4s ease-in-out;
}
.header-content button:hover {
  background: #fff;
  color: black;
}
.about {
  height: 100vh;
  width: 100vw;
}
/* about section */
.about {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.first,
.second {
  width: 100%;
  background: #fff;
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  overflow: hidden;
}
.about-img-line {
  border: 5px solid rgb(245, 238, 238);
  width: 550px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 500px;
  height: 350px; /* Maintain aspect ratio */
  display: block; /* Remove default inline behavior */
}
.about-img-content {
  width: 500px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 10px rgba(50, 50, 50, 0.04);
  border-left: 8px solid #26253a;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: absolute;
  font-size: 20px;
  top: 240px;
  left: 120px;
  padding: 38px 52px;
  font-family: "Lora", sans-serif;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-content h3 {
  font-size: 30px;
  letter-spacing: 6px;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.about-content p {
  color: #707070;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  max-width: 430px;
  margin-top: 4px;
}
.about-content button {
  background: transparent;
  border: 4px solid #26253a;
  border-radius: 0px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 14px 46px;
  transition: all 0.4s ease-in-out;
  margin-top: 32px;
}
.about-content button:hover {
  background-color: #26253a;
  color: #fff;
}
