* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.header {
  background-image: url(img/home-bg-slider-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white background */
  z-index: 10;
  transition: opacity 0.5s;
  opacity: 0;
  /* background: black; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-size: 36px;
  font-weight: bold;
  /* line-height: 50px; */
  margin-left: 20px;
}
.navbar-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.navbar-links a {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.42857143;
  color: #505050;
  padding: 10px;
}
.navbar-links a:hover {
  color: #000;
}
.navbar.visible {
  opacity: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-content h3 {
  visibility: visible;
  animation-delay: 0.9s;
  animation-name: bounceIn;
  letter-spacing: 2px;
  line-height: 36px;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header-content h1 {
  visibility: visible;
  animation-delay: 1.6s;
  animation-name: fadeInUp;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  /* padding-top: 12px; */
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-weight: 500;
  max-width: 500px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header-content button {
  background: #26253a;
  border: none;
  border-radius: 0px;
  color: #999;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 19px 38px;
  margin-top: 28px;
  transition: all 0.4s ease-in-out;
}
.header-content button:hover {
  background: #fff;
  color: black;
}
.about {
  height: 100vh;
  width: 100vw;
}
/* about section */
.about {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
}
.first,
.second {
  width: 100%;
  background: #fff;
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  overflow: hidden;
}
.about-img-line {
  border: 5px solid rgb(245, 238, 238);
  width: 550px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 500px;
  height: 350px; /* Maintain aspect ratio */
  display: block; /* Remove default inline behavior */
}
.about-img-content {
  width: 500px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 10px rgba(50, 50, 50, 0.04);
  border-left: 8px solid #26253a;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: absolute;
  font-size: 20px;
  top: 240px;
  left: 120px;
  padding: 38px 52px;
  font-family: "Lora", sans-serif;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-content h3 {
  font-size: 30px;
  letter-spacing: 6px;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.about-content p {
  color: #707070;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  max-width: 430px;
  margin-top: 4px;
}
.about-content button {
  background: transparent;
  border: 4px solid #26253a;
  border-radius: 0px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 14px 46px;
  transition: all 0.4s ease-in-out;
  margin-top: 32px;
}
.about-content button:hover {
  background-color: #26253a;
  color: #fff;
}
/* trainer section */
.trainer {
  height: 100%;
  width: 100vw;
  background: #f9f9f9;
  padding-top: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trainer-heading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.trainer-heading h3 {
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 600;
}
.trainer-heading p {
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.4px;
}
/* training cards  */
.trainer_cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 80px;
  padding: 70px;
}

.trainer_card {
  width: 350px;
  height: 400px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  transition: all 0.5s ease-in-out;
}

.trainer_card:first-child {
  margin-left: 0;
}

.trainer_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.trainer_card:hover:before {
  opacity: 1;
}

.trainer_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.trainer_card .trainer_info {
  position: relative;
  height: 355px;
  width: 260px;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  opacity: 0;

  transition: all 1s ease-in;
}

.trainer_card:hover .trainer_info {
  opacity: 1;

  background: rgba(38, 37, 58, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.trainer_card .trainer_info h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2px;
}
.trainer_card .trainer_info h3 {
  font-size: 16px;
}

.signup {
  height: 90vh;
  background: url("/img/newsletter-bg.jpg");
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup h3 {
  font-size: 30px;
  letter-spacing: 6px;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-weight: 600px;
  color: white;
}
.signup p {
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.4px;
}
.signup form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0px;
  box-shadow: none;
  font-size: 20px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
  height: 45px;
  margin-right: 20px;
  width: 350px;
  color: #fff;
}

.signup input:focus {
  outline: none;
  border-bottom: 1px solid #999; /* You can customize the border color for focus state */
}
.signup button {
  background: #26253a;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  height: 65px;
  width: 330px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}
.signup button:hover {
  background: #fff;
  color: #26253a;
}
/* blog section here  */
.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
}
.blog-heading {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}
/* blog cards */
.blog_cards {
  display: flex;
  /* width: 70%; */
  justify-content: space-between;
  margin-bottom: 30px;
}

.blog_card {
  width: 550px;
  height: 250px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  transition: all 0.9s ease-in-out;
}

.blog_card:first-child {
  margin-left: 0;
}

.blog_card:hover {
  color: #fff;
  background: url("img/home-bg-slider-img2.jpg") center center/cover;
  color: #fff;
}
.blog-date {
  color: #999;
  font-weight: bold;
  font-size: 12px;
}
.blog-title {
  margin-top: 20px;
}
.blog-title a {
  color: #606060;
  font-family: "Lora", sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
#blog-author {
  color: #606060;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* price section */
.price {
  background: url(/img/price-bg.jpg) 50% 0 repeat-y fixed;
  height: 100%;
  width: 100%;
  /* padding-top: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.price-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.price-heading h2 {
  font-size: 30px;
  letter-spacing: 6px;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 120px;
  color: #fff;
}
.price-heading {
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.4px;
}
/* price cards  */
.pricing__items {
  display: flex;
  width: 90%;
  margin-bottom: 80px;
  margin-top: 70px;
}

.pricing__item {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: #fff;
}

.pricing__item:first-child {
  margin-left: 0;
}
.pricing__title {
  font-size: 2em;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 36px;
  font-family: "Lora", sans-serif;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}
.pricing__price {
  font-size: 1.45em;
  font-weight: bold;
  line-height: 120px;
  width: 120px;
  height: 120px;
  margin: 1.15em auto 0.3em;
  border-radius: 50%;
  background: #26253a;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__feature-list {
  margin: 0;
  padding: 1em 1em 2em 1em;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.pricing__action {
  font-weight: bold;
  margin-top: auto;
  padding: 18px 48px;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  background: #26253a;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  border: none;
}
.pricing__item:hover {
  background: #fff;
  color: black;
}
.pricing__item:hover .pricing__feature-list {
  color: black;
}
.pricing__item:hover .pricing__action {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
